<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == selectedChoice}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm"  />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #4 - Loop over the search results to display all job fields. -->

    <table th:each="job : ${jobs}" class="job-listing">
        <tr>
            <td>
                <p th:text="${'Job Id: ' + job.id}"  class="text-info"></p>
            </td>
        </tr>
        <tr>
            <td>
                <p th:text="${'Name: ' + job.name}"></p>
            </td>
        </tr>
        <tr>
            <td>
                <p th:text="${'Employer: ' + #strings.capitalizeWords(job.employer) }" ></p>
            </td>
        </tr>
        <tr>
            <td>
                <p th:text="${'Location: ' + job.location}"></p>

            </td>
        </tr>
        <tr>
            <td>
                <p th:text="${'Position Type: ' + job.positionType}"></p>
            </td>
        </tr>
        <tr>
            <td>
                <p th:text="${'CoreCompetency: ' + job.coreCompetency}"></p>
            </td>
        </tr>
    </table>

</div>

</body>
</html>